<!-- Navigation partial -->
<nav>
  <ul>
    <li class="<% if (locals.originalUrl === '/') {%> active<% } %>">
      <a class="nav-link" href="/">
          Home
      </a>
    </li>
    <% if (locals.authenticated) { %>
      <li class="<% if (locals.originalUrl === '/dashboard') {%> active<% } %>">
        <a class="nav-link" href="/dashboard">
            Dashboard
        </a>
      </li>
      <li class="<% if (locals.originalUrl === '/protected/api') {%> active<% } %>">
        <a class="nav-link" href="/protected/api">
            TEST-API-OAUTH
        </a>
      </li>
      <li class="<% if (locals.originalUrl === '/') {%> active<% } %>">
        <a class="nav-link" href="/cfg">
            CFG-API
        </a>
      </li>
      <li>
        <a class="nav-link" id="logout" href="/protected/logout">
            Sign Out
        </a>
      </li>
      <li>
        Signed in as:
        <% Object.keys(locals.accounts).forEach(function (e) { %>
          * <%= locals.accounts[e].issuerInfo || locals.accounts[e].tokenInfo.token_type %>
        <% }) %>
      </li>
    <% } %>
  </ul>
</nav>
<!-- end -->
