<!DOCTYPE html>
<html>
  <head>
    <title>Protected</title>
    <link rel="stylesheet" type="text/css" href="./index.css" />
  </head>
  <body>
    <header role="banner">
      Dashboard
    </header>

    <br>

    <main>
      Dashboard Functionality
      <p></p>
      <% if (locals.user) { %>
          <div>Welcome: <%= user %></a></div>
      <% } %>
      <p></p>  
      <% if (locals.idToken) { %>
          <div>ID Token: <%= idToken %></a></div>
      <% } %>
      <p></p>
      <% if (locals.access_token) { %>
        <div>Access Token: <%= access_token %></div>
        <p></p>
        <div>Expires at:</div>
      <% } %>

      <div>
        <p>Test API's</p>
        <ul id="apis">        
              <h2 class="test-label">
                Termination assistant
              </h2>

              <h3 class="Termination-label">
                  User Force Session End
                </h3>
                    <% var inputId = 'api_endpoint_2' %>
        
                        <div>
                            <label for="terminateEmail">
                              <form action="/dashboard/service/terminate" method="GET">

                                        <label>User Forced Termination</label>
                                        <input type="hidden" name="_csrf" value="">
                                        <input type="email" name="terminate_user" class="input-lg form-control" id="password_termination_in" required>
                  
                                <button type="submit" class="col-5 offset-1 btn btn-primary btn-load btn-md" data-loading-text="Processing..." value="Enter User's Email" id="terminate_button2">Terminate</button>
                                </form>

                              Enter Email of user to terminate:
                              <input id="terminateEmail" type="email" size="80" value="" required name="TerminateEmail">
                            </label>
                            
                            <p></p>
        
                            <button id="terminate_button">Terminate</button>
                          </div>
                        
                          <pre id="terminate_result"></pre>
                
                      <script>
                        (function () {
                          var input
                          var result
                          var url
                          var token = document.querySelector('_csrf').getAttribute('content')
                          const button = document.getElementById('terminate_button')
            
                          button.addEventListener('click', async () => {
                            input = document.getElementById('terminateEmail')
                            result = document.getElementById('terminate_result')
                            url = new URL(document.location + '../../../dashboard/service/terminate')
                            
            
                            result.innerHTML = ''
            
                            url.search = new URLSearchParams({ terminate_user: input.value })
            
                            fetch(url, {
                              credentials: 'same-origin',
                              headers: {
                                'CSRF-Token': token
                                }
                              })
                              .then(function (data) {
                                return data.json()
                              })
                              .then(function (data) {
                                result.innerHTML = JSON.stringify(data, null, ' ')
                              })
                          })
                        }())
                      </script>
      
      </ul>
      </div>


    </main>

    <br>
    
    <a href="/logout">Logout</a>

    <br>
    
    <a href="/logout/idp">Single Logout</a>

    <br>

    <br>

    <footer role="contentinfo">
      footer
    </footer>
  </body>
</html>

