<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="./index.css" />
  </head>
  <body>
    <header role="banner">
      WPP IT Dashboard Assistant 
    </header>
    
    <br>
    
    <main>
      <p><a href="/auth/okta-oidc" class="btn btn-primary" role="button">Authenticate</a></p>  

      <p>#</p>
      <p>##</p>
      <p>###</p>
      <p>####</p>
      <p>#####</p>
    </main>
    <br>

    <footer role="contentinfo">
      WPP IT Copyright
    </footer>
  </body>
</html>

