<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WPP IT - Dashboard Termination confirm</title>
  <link rel="stylesheet" type="text/css" href="../../index.css"/>
  <script src="../../successtimeout.js" type="application/javascript"></script>
</head>
<body class="container">

<header>
  
</header>
  <div class="jumbotron">
    <h1>Successfully terminated!</h1>
    <div id="countdown"></div>
    <a class="nav-link " href="/dashboard">
        <button class="btn-ho effect01" id="goBackNow">Go back now</button>
    </a>
  </div>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>