header {
  font-size: 20px;
}

body { 
  padding-top:10px;
  display: flex;
  flex-direction: column;
  color: rgb(222, 221, 238);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
	background-image: url('backgroundWPP.jpg');
}

.jumbotron {
	background-color: #103360d4;
	color:#fff;
	border-radius: 10px;
	background-image: url('backgroundWPP.jpg');
}

.wppitdashboardlogo {
  background-color: #fcfcfc44;
}

a, a.disabled:hover, a:disabled:hover {
	color: #00dbff;
}

a:hover {
  color: pink;	
}

a:active {
  color: red;	
}

/* Button Effect */
.btn-ho {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 12px;
  font-weight: 510;
  line-height: 25px;
  max-width: 120px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn-ho:hover {
  text-decoration: none;
}

.effect01 {
  color: #07A2FF;
  border: 4px solid #000;
  box-shadow:0px 0px 0px 1px #000 inset;
  background-color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.effect01:active {
  background-color: rgba(0, 255, 219, 0);
  box-shadow: 0 0 10px 0 rgba(0, 255, 219, 0.73);	
}

.effect01:hover {
  border: 4px solid #666;
  background-color: #FFF;
  box-shadow:0px 0px 0px 4px #EEE inset;
}

.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span{
  letter-spacing: 0.13em;
  color: #333;
}

/*highlight*/
.effect01:after {
  background: #FFF;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
  z-index: 1;
}
.effect01:hover:after {
  background: #FFF;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}